{% extends "base.html" %}

{% block page_title %}
    <h2>About Us</h2>
{% endblock page_title %}

{% block page_content %}
    <div class="about-us-container">
        <div class="about-section">
            <h3>Why do it this way?</h3>
            <p>
                Our local cinemas do an incredible job of bringing us the latest and, more recently, some of the great classic films. There's no other experience quite like watching a film on the big screen, particularly as part of a audience being full drawn into the experience.
            </p>
            <p>
                The problem is that the way that the current film licensing system works makes it very difficult for cinemas to bring in films for limited screenings. Private hires are available at every cinema but there is a reason why it will typically cost you more than £300 to do so. And that is the Minimum Guarantee.
           </p>
            <p>
                Each time a film is booked for screening, the cinema typically gets charged around £130 + VAT just to be able to show that film. Add in staffing, power and other bills and it's easy to see that they have to be very confident it will sell well before they will risk doing this. Even if 20 people turn up, the cinema will lose money on that show... regular film releases have that Minimum Guarantee spread across many shows so they are not affected by it quite so much.
            </p>
            <p>
                When it comes to asking the general public what they'd like to see, people often like the idea of special shows in general. But then life happens and often only a fraction of those people actually buy a ticket when the show gets announced for a particular day.
            </p>
            <p>
                So here's our fix for that. You tell us what film you want to see at a time and location of your choosing. Creating that show will cost you the price of a ticket. That will create a listing here that others can see and also buy tickets for. You can then share that show with friends, family, social media, put it on flyers or whatever way you choose to let people know.
            </p>
            <p>
                If enough tickets are sold, then the show takes place as planned. If not, everyone gets a credit refunded to them that they can use to either create a new show of their own or support another existing show. You can, at any point, request that your credit get swapped for a cinema ticket to any regular priced standard at participating cinemas (assuming tickets are still available of course!).
            </p>
            <p>
                So whatever happens, you'll get to see a film and support your local cinema. This is your chance to see your favourite film on the big screen, whether it be an epic sci-fi or a spectacular musical, laugh out loud comedy or heart-wrenching tragedy (or all of that if we can clear Flash Gordon for shows!).
            </p>
        </div>

        <div class="about-section">

        </div>

        <div class="about-section">
            <h3>Contact Us</h3>
            <p>
                Have questions or suggestions? We'd love to hear from you!
                You can reach us at <a href="mailto:info@classicsonscreen.com">info@classicsbackonscreen.com</a>.
            </p>
        </div>
    </div>
{% endblock page_content %}