{% extends "base.html" %}

{% block page_title %}
    <h2 class="mb-4">Upcoming Shows</h2>
{% endblock page_title %}

{% block page_content %}
    <div class="show-listings">
        {% include "show_listings.html" with exclude_user_filter=True exclude_location_filter=False exclude_film_filter=False %}
    </div>
{% endblock page_content %}

{% block scripts %}
    <script>
        document.querySelectorAll('#filters-form select').forEach(function(select) {
            select.addEventListener('change', function() {
                document.getElementById('filters-form').submit();
            });
        });
    </script>
{% endblock scripts %}
