{% extends "base.html" %}

{% block page_title %}
    <h2 class="mb-4">{{ profile_user.username }}'s Profile</h2>
{% endblock page_title %}

{% block page_content %}
<div class="container">
    {% if is_own_profile %}
        <p><strong>Credits:</strong> {{ profile_user.credits }}</p>
    {% endif %}

    <h3>Shows Created</h3>
    {% if created_shows %}
        <div class="show-listings">
            {% include "show_listings.html" with exclude_user_filter=True exclude_location_filter=False exclude_film_filter=False %}
        </div>
    {% else %}
        <p>No shows created yet.</p>
    {% endif %}
</div>
{% endblock page_content %}
