Hello {{ user.username }},

We regret to inform you that the show "{{ show.film.name }}" at "{{ show.location.name }}" on 
{{ show.eventtime|date:"l, F j, Y at g:i A" }} has been cancelled.

{% if resend %}
    This is a follow-up email to ensure you have the latest details about the cancelled show.
{% endif %}

We sincerely apologize for any inconvenience caused. Any credits you used to reserve tickets for this show have been refunded to your account.

Thank you for your understanding and continued support.

Best regards,  
The Classics Back on Screen Team
