<!DOCTYPE html>
<html>
<head>
    <title>Film Screenings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Film Screenings</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'film_list' %}">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_screenings' %}">My Screenings</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to Film Screenings</h1>
        <div class="row">
            {% for film in films %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ film.poster_url }}" class="card-img-top" alt="{{ film.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ film.title }}</h5>
                            <p class="card-text">{{ film.description }}</p>
                            <a href="{% url 'create_screening' %}" class="btn btn-primary">Create Screening</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
