{% extends "base.html" %}

{% block page_content %}

<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>

{% if request.GET.success %}
    <p>Thank you for registering! Please check your email for a confirmation link.</p>
{% endif %}
{% if form.username.errors %}
        <ul>
            {% for error in form.username.errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock page_content %}
