{% extends "base.html" %}

{% block page_title %}
    <h2>Blog shows</h2>
{% endblock page_title %}

{% block page_content %}
    {% block shows %}
        {% for show in shows %}
            <h3><a href="{% url 'blog_detail' show.pk %}">{{ show.title }}</a></h3>
            <small>
                <a href="{% url 'blog_location' show.location.name %}">
                    <p>{{show.location.name}}</p>
                </a>
                <p> {{ show.eventtime.date}} at {{show.eventtime.time}} | Films:</p>
                {{ show.created_on.date }} | Films:
                    <a href="{% url 'blog_film' show.film.name %}">
                        {{ show.film.name }}
                    </a>
                
            </small>
            <p>{{ show.body | slice:":400" }}...</p>
        {% endfor %}
    {% endblock shows %}
{% endblock page_content %}
