{% extends "base.html" %}

{% block page_title %}
    <h2>Shows Created by {{ creator }}</h2>
{% endblock page_title %}

{% block page_content %}
    {% if shows %}
        
            {% for show in shows %}
                <div class="list-group-item">
                        <p class="mb-1">
                        <strong>Event Time:</strong> {{ show.eventtime|date:"D, M d, Y H:i" }}<br>
                        <strong>Location:</strong> <a href="{% url 'blog_location' show.location.name %}">{{ show.location.name }}</a><br>
                        <strong>Film:</strong> <a href="{% url 'blog_film' show.film.name %}">{{ show.film.name }}</a>
                    </p>
                    <small>Created on {{ show.created_on|date:"D, M d, Y" }}</small>
                </div>
            {% endfor %}
        
    {% else %}
        <p>No shows have been created by this user.</p>
    {% endif %}
{% endblock page_content %}
